<%- include('./partials/header') -%>
  <style>
    .carousel-item {
      height: 35vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>

  <body>


    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active"
          style="background-image: url('https://source.unsplash.com/1920x1080/?blogs')">
          <div class="carousel-caption">
            <h3>Daily Blogs</h3><br><br><br>
            <p>Gain Experience and knowledge while posting with us and make daily blogs</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
          <div class="carousel-caption">
            <h3>Flexibility</h3><br><br><br>
            <p>immense features for uploading your ddaily blogs and update and delete </p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
          <div class="carousel-caption">
            <h3>Enhance and Expand</h3><br><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam modi corrupti dolores ad hic ipsam
              dolorum deleniti doloribus harum. Mollitia, expedita sequi obcaecati illum voluptatum culpa molestias
              commodi enim.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr>
    <br>

    <h2 class="mx-auto" style="width: 500px;">
      DAILY BLOGS
      <small class="text-muted">you will love to read</small>
    </h2>
    <br>
    <div class="container">
      <div class="row">
        <% var i=1 %>
        <% data.forEach((item)=> { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4"> <!-- Changed class from col-12 col-sm-8 col-md-6 col-lg-4 to col-12 col-sm-6 col-md-4 col-lg-4 -->
          <div class="card mb-4">
            <img class="card-img-top"
            
              src="https://source.unsplash.com/1920x1080/?<%= item.blog%>" 
        >
            <div class="card-body">
              <h4 class="card-title"><%= item.title %></h4>
              <small class="text-muted cat">
                <i class="far fa-clock text-info"></i> 30 minutes
                <i class="fas fa-users text-info"></i> <%= i++ %>
                
              </small>
              <p class="card-text"><%= item.blog %></p>
              <a href="/blog/<%= item._id %>" class="btn btn-info">Read</a>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
              <div class="views"><%= item.date_published %></div>
              <div class="stats">
                <i class="far fa-eye"></i> 1347
                <i class="far fa-comment"></i><%= item.author %>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
  <hr>
  <br>
  <%- include('./partials/footer') -%>
